# CubeIDE workspace
**/.metadata/
**/.settings/
**/.project

**/*.launch
**/.mxproject

# Build outputs
**/Debug/
**/Release/
**/*.o
**/*.d
**/*.su
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.lst
**/*.cyclo
**/*.a
**/makefile
**/objects.mk
**/objects.list
**/sources.mk
**/subdir.mk

# Logs
**/*.log
**/*.log4j2.xml
**/*.lock
**/*.ini

# Archives and local only
archive/
/industrial_data_logger/
/code/

# OS
.DS_Store
Thumbs.db
